
html{
	position: relative;
	min-height: 100%;
}

body {
	margin:0 0 60px; 
	/* margin-bottom 80px = footer height. This is to make the sticky footer*/
}


header .container {
	padding-top: 20px;
}

.container {
	max-width: 980px;
}


.main-content {
	background-color: #4e5d6c;
	padding: 15px;
	margin-bottom: 20px;
}

.main-content h1{
	border-bottom: 1px solid #2b3e50;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

/*sidebar*/

.sidebar {
	margin-bottom: 20px;
}

.social {
	background-color: #4e5d6c;
	border-color: #4e5d6c;
	padding: 5px 25px 25px;
}

.social-links {
	max-width: 245px;
}

/*footer*/
footer {
	text-align: center;
	background-color: #eee;
	color: #666;
	height: 60px;
	position: absolute; 
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 5px solid #395c82;
}

footer p{
	margin-top: 20px;
	font-size: 12px;
}

hr {
	border-color: #4e5d6c;
}

/* social */
.social img {
	width: 28%;
	height: auto;
}

.social h2{
	border-bottom: 1px solid #2b3e50;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.social-links a:nth-child(-n+2) {
    margin-right: 5%;
}

.social img:hover{
	opacity: 0.8;
}


.navbar h1, h3 {
  		margin-top: 10px;
  		margin-bottom: 10px;
  	}

.work{
	position: relative;
	margin-bottom: 20px;
}

.work img{
	width: 100%;
}


.work h3 {
    background: #5cb85c;
    color: #fff;
    text-align: center;
    padding: 15px;
    bottom: 15px;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 300;
    position: absolute;
    width: 100%;
   
 }

.work h3:hover{
	color: #ddd;
}

.rounded {border-radius: 10px}

 @media screen and (max-width: 767px) {
	.profile-info {
		text-align: center;
	}
  	
}
