html{
	position: relative;
	min-height: 100%;
}

body {
	margin:0 0 60px; 
	/* margin-bottom 80px = footer height. This is to make the sticky footer*/
}


header .container {
	padding-top: 20px;
}

.container {
	max-width: 980px;
}

.box {
	background-color: #4e5d6c;
	padding: 15px;
	margin-bottom: 20px;
}

.box h1 {
	text-align: center;
}

.social-links img{
	max-width: 30px;
	margin-right: 8px;
}
.social-links img:hover {
	opacity: 0.8;
}

.skills {
	margin-top: 20px;
	list-style: none;
	padding-left: 0;
	overflow:hidden;
}

.skills li{
	float: left;
	width: 25%;
	text-align: center;
	margin-bottom: 20px;
}

.devicons:before {
	font-size: 5em;
}
/*footer*/
footer {
	text-align: center;
	background-color: #eee;
	color: #666;
	height: 60px;
	position: absolute; 
    left: 0;
    bottom: 0;
    width: 100%;
}

footer p{
	margin-top: 20px;
	font-size: 12px;
}

.work {
	margin-bottom: 30px;
	padding-top: 20px;
}

.work h3 {
	margin-top: 0;
	line-height: 1;
}

#mailto {
	color: #fff;
	background-color: #DF691A;
	border-color: #DF691A;
	display: inline-block;
	font-weight: 400;
	vertical-align: middle;
	padding: 4px 10px;
	line-height: 1.5;
	border-radius: 4px;
	text-decoration: none;
}

#mailto:hover {
    color: #fff;
    background-color: #bd5916;
    border-color: #b15315;
}

.rounded {border-radius: 10px}

 @media screen and (max-width: 767px) {
	.profile-info, h3, .work p {
		text-align: center;
	}

	.skills li{
		width: 50%;
	}
  	
}
